body{
    background-color: #f2f2f2;
}
*{
    box-sizing: border-box;
}

a{
  height: 0;
}
ul ,li{
    padding:0;
    list-style: none;
    display: inline;
}
h1{
    text-align: center
}
.window{
    width: 400px;
    overflow: hidden;
    margin:0 auto;
    margin-top:25px;
    border: 1px solid;
    box-shadow: 1px 1px 1px white;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}
.wrapper{
    display: flex;
    transition:all 0.5s;
}
.clickAble{
    border-top: 1px solid gray;
}
button{
    width: 60px;
    height: 45px;

    outline: none; 
    background-color: white;
    border-right: 1px solid transparent; 
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid grey;
    cursor: pointer;
}
li:nth-last-child(1)>button {
    border-right: 1px solid grey; 
}
.active{
    background: url(./images/active_bg.png) no-repeat;
}
footer{
    position: absolute;
    bottom:10px;
    left:0;
    width: 100%;
    right:0;
    text-align: center;
    font-size: 13px;
}
